body{
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    margin: 0;
}

.main-container{
   display: flex;
   text-align: center;
   align-items: center;
   justify-content: center;
   background-color: hsl(0, 0%, 95%);
   min-height: 100vh;
}

.container{
    width: 1000px;  
    display: flex;
    flex-direction: row; 
    text-align: center;
    align-items: center;
    justify-content: center;
}

.container__image-section{
    background-color: #00c16e;
    height: 750px;
    width: 450px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.container__image-section--image{
    height: 400px;
    width: 400px;
}

.container__forgot-section{
    display: flex;
    flex-direction: column; 
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
    height: 750px;
    width: 550px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.container__forgot-section--header{
    font-size: 3em;
    font-weight: bold;
    /* margin-top: 90px; */
    /* margin-bottom: 70px; */
}
.container__forgot-section--popup{
    display: flex;
    height: 100px;
    width: 400px;
    background-color: #0D92F4;
    color: white;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 25px;
    /* po displau na none dac header 10px botoom */
    display: none;
}

.container__forgot-section--input{
    border: 0.005px solid #d4d4d4;
    background-color: white;
    font-size: 1.3em;
    height: 50px;
    width: 375px;
    border-radius: 5px;
    margin: 8px;
    padding-left: 15px; 
}
.container__forgot-section--input:focus{
    border-color: hsl(154, 100%, 28%);
    outline: none;
}


.container__forgot-section--button{
    font-size: 1em;
    font-weight: bold;
    color: white;
    background-color: #00c16e;
    border: none;
    height: 50px;
    width: 400px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;   
}
.container__forgot-section--button:hover{
    background-color: #008f51#008f51;
}

.container__forgot-section--footer {
    color: #383838;    
    /* margin-top: 10px; */
}

.container__forgot-section--footer a{
    text-decoration: none;
    color: #7a2fc0;

}
.container__forgot-section--footer a:hover{
    text-decoration: none;
    color: hsl(154, 100%, 28%);

}

@media only screen and (max-width: 1000px) {

    .main-container{
        padding-left: 15px;
        padding-right: 15px;
    }

    .container{
        display: flex;
        flex-direction: column-reverse; 
        justify-content: center; 
        width: 100%; 
    }

    .container__image-section {
        width: 90%; 
        height: auto;
        padding: 20px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;        
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    
    .container__image-section--image {
        width: 200px;
        height: 200px;
    }

    .forgot{
        width: 100%;
        display: flex; 
        justify-content: center;
        }

    .container__forgot-section {
        width: 90%; 
        height: auto;
        padding: 20px; 
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;        
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .container__forgot-section--header {
        font-size: 2em; 
        margin-top: 20px;   
        margin-bottom: 20px;
    }

    .container__forgot-section--input, .container__forgot-section--button {
        width: 90%; 
    }

    .container__forgot-section--popup{
        width: 94%;
    }

    .container__forgot-section--popup p{
        margin: auto;
    }



    .container__forgot-section--button{
        width: 94%;
    }

    .container__forgot-section--footer{
        margin-right: 0; 
        text-align: center; 
    }

    .container__forgot-section--footer:hover{
        color: #008f51;
    }
}
