body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #00c16e;
    color: rgb(37, 36, 36);
    padding-right: 20px;
}

.header__left-panel {
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    width: 25vw;
}
.header__left-panel__name {
padding-left: 30px;
}

.header__left-panel__button {
    border: none;
    margin: 0px 20px;
    background-color: #00c16e;
    font-size: 2em;
    font-weight: bold;
    display: none;
}

.header__left-panel__button:hover {
    color: white;
}

.header__user-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__user-content__name {
    font-weight: bold;
    margin-right: 15px;
}

.header__user-content__icon {
    width: 48px;
    height: 48px;
    margin-right: 10px;
    cursor: pointer;
}

.header__user-content__icon:hover{
    filter: invert(1) brightness(100);
}

.header__user-content--logout-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.layout {
    display: flex;
    width: 100%;
    height: 100%;
}

.layout__sidebar {
    height: 100vh;
    width: 25%;
    background-color: rgb(37, 36, 36);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    overflow: hidden;
}

.layout__sidebar-menu {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 50px;
    overflow-x: hidden;
    width: 100%;
}

.layout__sidebar-menu--item {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #00c16e;
    width: 100%;
    padding: 20px 30px;
    box-sizing: border-box;
    justify-content: flex-start;
    cursor: pointer;
}

.layout__sidebar-menu--item:hover {
    background-color: #00c16e;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    color: white;
}

.layout__sidebar-menu--item:active {
    background-color: #00a85f;

}

.layout__sidebar-menu--item img {
    width: 35px;
    height: auto;
    margin-right: 10px;
}

.layout__sidebar-menu--item:hover p {
    color: white;
}

.layout__sidebar-menu--item:hover img {
    filter: invert(1) brightness(100);
}

.layout__sidebar-menu--item p {
    color: #00c16e;
    font-size: 1.5em;
    margin: 0;
}

.layout__main-content {
    height: 100%;
    width: 90%;
    background-color: hsl(0, 0%, 90%);
    flex-grow: 1; /* Aby wypełniał całą pozostałą przestrzeń */
    display: flex;
    flex-direction: column;
    align-items: center;

}

.layout__sidebar-menu--item.active {
    background-color: #00c16e;
    color: white;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.layout__sidebar-menu--item.active p {
    color: white;
}

.layout__sidebar-menu--item.active img {
    filter: invert(1) brightness(100);
}

/*TODO ZMIANA*/
.testclass{
    display: none;
}

/* Media Queries */
@media (max-width: 1250px) {
    .layout__sidebar {
        align-items: center;
    }

    .layout__sidebar-menu{
        width: 100%;
    }

    .layout__sidebar-menu--item {
        flex-direction: column;
        align-items: center;
        justify-content: left;
        padding: 10px;
        text-align: left;
    }

    .layout__sidebar-menu--item img {
        margin-right: 0;
        margin-bottom: 5px;
        width: 40px;
    }


    .layout__sidebar-menu--item p {
        display: none;
    }
}

@media (max-width: 750px) {
    .layout__sidebar {
        display: none;
    }

    .header {
        justify-content: space-between;
        background-color: #00c16e;
        color: rgb(37, 36, 36);
        padding: 0 15px;
    }
    .header__left-panel {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 75%;
    }
    .header__left-panel__button{
        display: block; /* Pokazuje przycisk */
        margin: 0;
        padding: 0;
    }

    .header__user-content__icon{
        margin: 0;
    }

    .header__user-content__name{
        display: none;
    }

    .header__left-panel__name{
        padding: 0;
    }
    .header__user-content{
        height: 100%;
    }

    .testclass{
        height: 100%;
        width: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .modal-content{

        width: 75%;
        overflow: hidden; /*TODO TO NIE MUSI BYC NAJLEPSZE*/
    }


}



/* Modal Background */
.modal {
    display: none; /* Domyślnie ukryty */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Tło modalne */
    z-index: 1; /* Przykrywa inne elementy */
    justify-content: center;
    align-items: center;
    /*TODO DEBUG CZEMU SIE CHOWA HEADER ADD INVOICE*/
}

.modal-visible {
    display: flex; /* Modal widoczny, gdy ta klasa jest dodana */
}

/* Modal Content */
.modal-content {
    display: flex;
    /*height: 300px;*/
    width: 25%;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    position: relative;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 20px;
    max-height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
}


/* Modal Content */
.modal-content--invoice {
    width: 75%;
}

.add-cateogry, .edit-category, .add-client, edit-client, .add-product, .edit-product, .add-invoice{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.modal-content__info{
    display: none;
    height: 70px;
    font-size: 1.3em;
    width: 80%;
    background-color: rgb(202, 52, 52);
    color: white;
    border-radius: 5px;
    margin-bottom: 2px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.modal-content__form-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.modal-content__form-section-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

}

.modal-content__form-section-client,
.modal-content__form-section-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 95%; /* Każda sekcja zajmuje 45% szerokości */
    text-align: left;
}

.modal-content__form-section-client p,
.modal-content__form-section-right p{
    margin: 4px 2px;
    font-weight: bold;
}

.form-section-client__list{
    /*text-align: right;*/
    list-style: none;
    /*border: 0.005px solid #d4d4d4;*/
    width: 100%;
    padding-left: 10px;
    margin: 0;

}
.form-section-client__list li{
    border-bottom: 0.005px solid #d4d4d4;

}
.modal-content__close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.modal-content__form-section-input{
    width: 100%;
    box-sizing: border-box; /*TODO DODAC W LOGOWANIU REGISTER WTEDY NIE TRZEBA DAWAC WIDH 91 92 %*/
    border: 0.005px solid #d4d4d4;
    background-color: white;
    font-size: 1.3em;
    height: 50px;
    border-radius: 5px;
    margin: 4px;
    padding-left: 15px;
}

.modal-content__form-section-input--autocomplete-box{
    width: 100%;
}
.modal-content__form-section-input--autocomplete{
    margin: 0;
    position: relative;
}
/* Lista wyników autouzupełniania */
.form-section-input--autocomplete__list {
    position: absolute;
    box-sizing: border-box; /* Uwzględnia padding i border w szerokości listy */
    width: 74%;  /* Lista ma szerokość równą szerokości inputa */
    max-height: 200px;  /* Określamy maksymalną wysokość listy */
    overflow-x: auto;  /* Dodajemy przewijanie, jeśli lista jest zbyt długa */
    overflow-y: auto;  /* Dodajemy przewijanie, jeśli lista jest zbyt długa */
    background-color: white;
    outline: 0.005px solid #d4d4d4;
    font-size: 1.3em;
    margin-top: 4px;
    padding: 0;
    list-style: none;
}

/* Elementy listy */
.form-section-input--autocomplete__list li {
    padding-left: 15px;
    border: 0.005px solid #d4d4d4;
    cursor: pointer;
    display: flex;
}




.modal-content__form-section-select{
    width: 100%;
    box-sizing: border-box;
    height: 52px;
    /*width: 394px;*/
    color: #383838;
}

.modal-content__form-section-button{
    font-size: 1em;
    font-weight: bold;
    color: white;
    background-color: #00c16e;
    border: none;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    margin-top: 4px;
    margin-bottom: 20px;

}
.modal-content__form-section-button--invoice{
    width: 95% !important;
    margin-top: 15px !important;
}

.modal-content__form-section-button--option{
    height: 35px;
    width: 150px;
    max-width: 45%;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
    align-self: flex-end;
    font-size: 0.85em;
    background-color: #007bff;

}

.main-content__table--modal{
    padding: 10px 0;
    /*margin: 10px 0;*/
    border-radius: 10px; /* Dodanie zaokrąglonych narożników */
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;


}



.main-content__table-container--modal {
    border: none !important; /* Usuwa obramowanie */
    box-shadow: none !important;
    margin: 0 !important;
    background-color: transparent !important;
    max-height: 300px !important;
}



.main-content__table-header-cell--modal{
    background-color: rgb(128, 117, 117);
}

.modal-content__form-section-delete-button{
    background-color: rgb(255, 77, 77);
}

.modal-content__form-section-info{
    font-weight: unset;

}


/* Disable scrolling when modal is open */
body.modal-open {
    overflow: hidden;
}
